/* Soluzione qui */

/* Tablet */

@media screen and (min-width:768px) {

    .container {
        width: 90%;
    }

    #topbar {
        justify-content: flex-start;
    }

    .recipe-title h2 {
        font-size: 2rem;
    }

    .recipe-origin {
        display: inline;
        font-family: 'Nerko One', cursive;
    }

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes li {
        flex-basis: 30%;
    }

    .ads {
        display: block;
    }

}


/* Desktop */

@media screen and (min-width:992px) {

    .container {
        width: 80%;
        max-width: 1500px;
    }

    .recipe-title h2 {
        font-size: 3rem;
    }

    .recipe-card {
        display: flex;
    }

    .recipe-video {
        flex-basis: 70%;
    }

    .recipe-info {
        flex-basis: 30%;
    }

    .quick-notes ul {
        display: block;

    }

    .social-networks .label {
        display: inline;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer address {
        text-align: left;
    }

}


@media screen and (min-width:576px) {

    .clearfix img {
        float: left;
    }

    .btn {
        padding: 10px 40px;
    }

}